// The modules.config file is for specifying module/process-specific resource requirements

process {
    // Resource allocation for various processes
    // Here you can be provide CPU and memory for all or various processes

    // Define default resources
    cpus = 1
    memory = 4.GB

    // Define label- and process-specific resources
    // withName takes precedence over withLabel
    // Set these as required for your labels and processes
    withLabel: 'small_job' {
        cpus = 1
        memory = 4.GB
    }

    withLabel: 'medium_job' {
        cpus = 4
        memory = 8.GB
    }

    withName: 'FASTQC' {
        cpus = 2
        memory = 8.GB
    }

    withName: 'MULTIQC' {
        cpus = 1
        memory = 4.GB
    }
}
