// =================================================================
//
// nextflow.config is the main configuration script for a nextflow pipeline
// Should contain the following sections:
    // A manifest for defining workflow metadata
    // Mandated minimal version of Nextflow required to run pipeline
    // Default workflow parameter definitions
    // Shell behaviour settings for the workflow
    // Execution reports
    // Configuration profiles

// Examples are included for each section. Remove them and replace
// with project-specific code. For more information see:
// https://docs.seqera.io/nextflow
//
// ===================================================================

// Define some metadata for publishing pipeline on GitHub
// See https://docs.seqera.io/nextflow
manifest {
    contributors = [
        [
            name:'Michael Geaghan',
            affiliation:'Sydney Informatics Hub',
            email:'michael.geaghan@sydney.edu.au',
            github:'https://github.com/mgeaghan',
            contribution:['author'],
            orcid:'0000-0002-4350-8600'
        ]
    ]
    name = 'template-nf'
    description = 'Template for creating Nextflow workflows.'
    homePage = 'https://github.com/Sydney-Informatics-Hub/template-nf'
    nextflowVersion = '!>=24'
}

// Set default workflow parameters
// See https://docs.seqera.io/nextflow/workflow#parameters
params {
    help                = false
    input               = null
    outdir              = 'results'
    multiqc_title       = null
    publish_dir_mode    = 'copy'
    timestamp           = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

// Fail a task if any command returns non-zero exit code
// See https://docs.seqera.io/nextflow/reference/process#shell
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Include modules.config
includeConfig "config/modules.config"

// Produce a workflow diagram
// See https://docs.seqera.io/nextflow/reference/config#dag
// and https://docs.seqera.io/nextflow/reports#workflow-diagram
dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/runInfo/dag.${params.timestamp}.svg"
}

// Output resource and runtime reports for a workflow run
// See https://docs.seqera.io/nextflow/reference/config#report
// and https://docs.seqera.io/nextflow/reports#execution-report
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/runInfo/report.${params.timestamp}.html"
}

// Output an html timeline report
// See https://docs.seqera.io/nextflow/reference/config#timeline
// and https://docs.seqera.io/nextflow/reports#execution-timeline
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/runInfo/timeline.${params.timestamp}.html"
}

// Output process execution trace file
// See https://docs.seqera.io/nextflow/reference/config#trace
// and https://docs.seqera.io/nextflow/reports#trace-file
trace {
    enabled = true
    overwrite = false
    file = "${params.outdir}/runInfo/trace.${params.timestamp}.txt"
    fields = 'name,task_id,hash,workdir,status,exit,duration,realtime,cpus,%cpu,memory,%mem,peak_rss'
}

// Enable profiles for different compute infrastructures or set up
// See https://docs.seqera.io/nextflow/config#config-profiles
profiles {
    gadi        { includeConfig "config/gadi.config" }
    setonix     { includeConfig "config/setonix.config" }
    nimbus      { includeConfig "config/nimbus.config" }
    singularity {
        singularity {
            enabled    = true
            autoMounts = true
        }
    }
    docker {
        docker {
            enabled = true
        }
    }
}

plugins {
    id 'nf-schema@2.7.2'
}
